# For code formatting to PEP 8
autopep8>=1.5.7

# For diagnostic plots
matplotlib>=3.4.3
# For current matplotlib 3.4 Qt5 backend until PySide6 is supported in mpl 3.5
# See https://github.com/matplotlib/matplotlib/pull/19255 and
# and https://github.com/matplotlib/matplotlib/issues/19226
# NOTE: use TkAgg instead due to crash on app exit. See core/figures.py
# PySide2>=5.15.0

# For unit testing
pytest>=6.2.4

# For building frozen executables
pyinstaller>=4.5.1
